/* Reset
________________________________*/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  border: ;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  box-sizing: inherit;
}

/* Form: Add to Collection
________________________________*/
.book-modal {
  display: none;
  visibility: hidden;
}

.show-modal {
  display: block;
  visibility: visible;
}

.add-book-form__container {
  background: #fff;
  padding: 30px;
  border-radius: 5px;
}

.add-book-form__form textarea {
  resize: none;
}

/* Book Card and Container
________________________________*/
.book-container {
  display: flex;
  padding: 2rem 5rem;
}

.book-card {
  display: grid;
  grid-template-areas:
    "image title title title"
    "image author author author"
    "description description description description"
    "description description description description"
    "buttons buttons buttons buttons";
  padding: 2rem;
}

.book-card__image {
  grid-area: image;
}

.book-card__image img {
  max-width: 100px;
  height: auto;
}

.book-card__title {
  grid-area: title;
}

.book-card__author {
  grid-area: author;
}

.book-card__description {
  grid-area: description;
}

.book-card__buttons {
  grid-area: buttons;
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0px;
}

.book-card__buttons li {
  display: inline-block;
}
