/* Variables
________________________________*/
:root {
  /* Colors */
  --color-blue-dark: #a7bed3;
  --color-blue-light: #c6e2e9;
  --color-red-dark: #cc5a71;
  --color-red-light: #ffcaaf;
  --color-green-light: #aedcc0;
  --color-grey-dark: #31393c;
  --color-grey-mid: #9b9fb5;
  --color-grey-light: #c7c7cc;
  --color-off-white: #fffaff;
  --color-white: #ffffff;
  --modal-background: rgba(49, 57, 60, 0.8);
  --card-background: rgba(155, 159, 181, 0.3);
  /* Timings */
  --default-transition: 0.2s;
  /* Spacing */
  --page-width-percent: 95%;
  --margin-center: 0 auto;
}

/* Reset
________________________________*/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  box-sizing: inherit;
  background: var(--color-blue-light);
}

.main {
  margin: var(--margin-center);
  width: var(--page-width-percent);
  background: var(--color-off-white);
}

/* Top Banner
________________________________*/
.top-banner {
  width: var(--page-width-percent);
  margin: var(--margin-center);
  padding: 2rem 0;
}

/* Form: Add to Collection
________________________________*/
.book-modal {
  display: none;
  visibility: hidden;
}

.book-modal__body {
  padding: 1rem;
  width: 100%;
}

.book-modal__title {
  margin-bottom: 2rem;
}

.book-modal .field {
  margin-top: 1.8rem;
}

.book-modal label {
  font-size: 1.8rem;
}

.book-modal input,
.book-modal textarea {
  padding: 1rem;
  border: 1px solid var(--color-grey-light);
  border-radius: 5px;
  margin-top: 1rem;
}

.show-modal {
  display: block;
  visibility: visible;
}

.add-book-form__container {
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-book-form__form textarea {
  resize: none;
}

.modal-background {
  top: 0;
  background-color: var(--modal-background);
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Book Card and Container
________________________________*/
.book-container {
  display: grid;
  padding: 2rem 5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.book-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 2rem;
  grid-gap: 1rem;
  border: 1px solid var(--color-grey-light);
  border-radius: 10px;
  box-shadow: 1px 1px 1px var(--card-background);
}

.book-card__image {
  grid-area: 1 / 1 / 3 / 1;
}

.book-card__image img {
  max-width: 100px;
  height: auto;
}

.book-card__info {
  grid-area: 1 / 2 / 1 / -1;
}

.book-card__info--title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.book-card__info--author {
  font-size: 2rem;
  color: #bbb;
}

.book-card__description {
  grid-area: 3 / 1 / 3 / -1;
}

.book-card__buttons {
  grid-area: 4 / 1 / 4 / -1;
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0px;
}

.book-card__buttons li {
  display: inline-block;
}

/* Buttons
________________________________*/
.button {
  font-size: 1.6rem;
  border-radius: 0.5rem;
  padding: 0.8rem;
  color: var(--color-white);
  transition: var(--default-transition);
}

.button:hover {
  cursor: pointer;
  box-shadow: 0px 1px 2px var(--color-grey-mid, 60%);
}

.button--add {
  background-color: var(--color-green-light);
}

.button--remove {
  background-color: var(--color-red-dark);
}

.button--info {
  background-color: var(--color-blue-dark);
}
